<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="OpenCarTestbed.ConfigFiles.UserSettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="OpenCarTestbed.ConfigFiles.Settings1" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <applicationSettings>
        <OpenCarTestbed.ConfigFiles.UserSettings>
            <setting name="FilterURI" serializeAs="String">
                <value>C:\Users\ceveret3\Google Drive\Car Network Research\Open Car Test bed (OTC)\OpenCarTestbed\ConfigFiles\Filter.xml</value>
            </setting>
        </OpenCarTestbed.ConfigFiles.UserSettings>
    </applicationSettings>
    <userSettings>
        <OpenCarTestbed.ConfigFiles.Settings1>
            <setting name="filterURI" serializeAs="String">
                <value>C:\OCTANE1\octane\trunk\octane\ConfigFiles\Filter-Long.xml</value>
            </setting>
            <setting name="skipGuidedBusControl" serializeAs="String">
                <value>False</value>
            </setting>
        </OpenCarTestbed.ConfigFiles.Settings1>
    </userSettings>
</configuration>